streamlit
geopandas==0.14.2
pandas
numpy
plotly==5.18.0
pyarrow

tabulate
langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-pinecone
pinecone[grpc]
langchain
langgraph
streamlit
pandas